body {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin: 20px;
}

.head-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  display: none;
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 3;
}
.menu-btn span {
  width: 90%;
  height: 3px;
  background-color: var(--white-color);
  position: absolute;
  z-index: 4;
  transition: 0.35s;
}

.menu-btn span:nth-of-type(1) {
  top: 5px;
}
.menu-btn span:nth-of-type(2) {
  top: 12px;
}
.menu-btn span:nth-of-type(3) {
  top: 19px;
}

.head-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.head-right .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.logo-container i {
  font-size: 2em;
  color: var(--primary-color);
  cursor: pointer;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  background-color: var(--btn-color);
  padding: 8px 15px;
  gap: 5px;
}
.search-box input {
  width: 300px;
  border: none;
  outline: none;
  background-color: transparent;
}
.search-box input::-webkit-input-placeholder {
  color: #b6b6b6;
}
.search-box i {
  color: #b6b6b6;
}
.head-left .btn-prime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn-prime img {
  width: 25px;
  border: 1px solid white;
}

.head-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.head-left .btn {
  color: var(--bold-font-color);
}

header .nav-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 5px;
}
header .nav-container > .logo-container {
  display: none;
}
header .nav-container .head-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  height: 100%;
}
header .nav-container .head-nav li {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  height: inherit;
  border-radius: 0;
  position: relative;
}
header .nav-container .head-nav li .sub-menu {
  display: none;
  position: absolute;
  background-color: #000000;
  padding: 10px;
  cursor: pointer;
  top: 35px;
  width: 100%;
}

.active > span {
  color: var(--primary-color) !important;
}
li.active:hover span {
  color: var(--bold-font-color) !important;
}
header .nav-container .head-nav li:first-child {
  padding-right: 15px;
  border-radius: 0 5px 5px 0;
}
header .nav-container .head-nav li:hover {
  background-color: var(--primary-color);
}

header .nav-container .head-nav span {
  color: var(--white-color);
}
header .nav-container .head-nav li i {
  font-size: 0.7em;
  color: var(--white-color);
}
header .nav-container .contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
}
header .nav-container .contact i {
  color: var(--primary-color);
}
header .nav-container .contact span {
  color: var(--primary-color);
}
main {
  margin: 0;
}

/* menu section */
aside {
  position: fixed;
  width: 300px;
  background-color: black;
  top: 0;
  right: -100%;
  z-index: 2;
  padding: 20px;
  padding-top: 80px;
  border-radius: 5px 0 0 5px;
  transition: 0.35s;
  bottom: 0;
}
.menu-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.menu-head-container > .search-box {
  width: 100%;
}
.menu-head-container > .menu-top-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

aside .menu-nav-container .menu-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  gap: 20px;
}
aside .menu-nav-container .menu-nav li {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  justify-content: space-between;
  cursor: pointer;
}
aside .menu-nav-container .menu-nav li .menu-item {
  width: 100%;
  display: flex;
  padding: 8px 10px;
  justify-content: space-between;
  cursor: pointer;
}
aside .menu-nav-container .menu-nav li .sub-menu {
  display: none;
  padding: 8px 10px;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.13);
}
aside .menu-nav-container .menu-nav li .sub-menu li a span {
  color: var(--white-color);
}

aside .menu-nav-container .menu-nav li .menu-item span {
  color: var(--white-color);
}
aside .menu-nav-container .menu-nav li .menu-item i {
  color: var(--white-color);
}

main .main-poster {
  display: flex;
  gap: 50px;
  padding: 0 20px;
}
main .main-poster .main-poster-right {
  flex: 3;
}
main .main-poster .main-poster-right .texts h1 {
  font-size: 2em;
  color: var(--bold-font-color);
  margin: 20px 0;
}
main .main-poster .main-poster-right .texts h3 {
  font-size: 1.5em;
  margin: 20px 0;
  color: var(--bold-font-color);
}

main .main-poster .main-poster-right .buttons {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
main .main-poster .main-poster-left {
  display: flex;
  align-items: center;
  flex: 2;
  position: relative;
}
main .main-poster .main-poster-left .back-image {
  width: 100%;
  height: 60%;
  background-color: var(--back-color);
  position: absolute;
  bottom: 0;
  z-index: -1;
}
main .main-poster .main-poster-left img {
  width: 100%;
}
main .main-poster .main-poster-left .flag {
  position: absolute;
  top: 30%;
  right: 20px;
}
main .main-poster .main-poster-left .flag img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
main .main-poster .main-poster-left .image-captions {
  position: absolute;
  background-color: white;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 10px;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0 0 5px #0000001f;
}

main .main-poster .main-poster-left .image-captions strong {
  color: var(--bold-font-color);
}
main .main-poster .main-poster-left .image-captions i {
  transform: rotate(-45deg);
  color: var(--bold-font-color);
  font-size: 2vw;
}
main .main-steps {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
main .main-steps .top-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .main-steps .top-steps .guide-text {
  padding: 8px 15px;
  background-color: var(--back-color);
  border-radius: 25px;
  width: max-content;
}
main .main-steps .top-steps .guide-text > span {
  color: var(--red-color);
}

main .main-steps .steps-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  gap: 45px;
  margin-top: 40px;
}
main .main-steps .steps-container .step-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}
main .main-steps .steps-container .step-item .step-number {
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: -15px;
  color: var(--white-color);
  font-size: 1.5em;
}
main .main-steps .steps-container .step-item .step-text {
  background-color: var(--back-color);
  font-size: 0.9em;
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .draggable {
  margin-top: 50px;
  position: relative;
}
main .draggable .draggable-title {
  text-align: center;
}
main .draggable .draggable-title > span {
  padding: 8px 15px;
  background-color: var(--back-color);
  border-radius: 25px;
}
main .draggable .draggable-title h3 {
  margin-top: 20px;
}
main .draggable .draggable-title h3 > span {
  color: var(--red-color);
}
main .draggable .draggable-items-container {
  margin-top: 40px;
  position: relative;
}

main .draggable .draggable-items-container .owl-stage-outer .owl-stage {
  padding: 10px 0;
}
main .draggable .draggable-items-container .draggable-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.192);
  border-radius: 8px;
  background-color: white;
  margin: 0 10px;
}

main .draggable .draggable-items-container .draggable-item .time {
  background-color: #ffffffd2;
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 5px 10px;
  font-size: 0.8em;
}

main .draggable .draggable-items-container .draggable-item .time > span {
  color: black !important;
}

main .draggable .draggable-items-container .draggable-item > img {
  width: 100%;
}
main .draggable .draggable-items-container .draggable-item > span {
  color: black !important;
  text-align: center;
  font-size: 0.9em;
  margin-top: 10px;
}
main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-teacher-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  width: 100%;
  margin: 20px 0;
}
main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-teacher-price
  .teacher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-teacher-price
  .teacher
  .teacher-profile
  > img {
  width: 30px;
  border-radius: 50%;
}

main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-teacher-price
  .teacher
  .teacher-name {
  display: flex;
  flex-direction: column;
}
main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-teacher-price
  .teacher
  .teacher-name
  > span {
  color: black !important;
}
main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-teacher-price
  .teacher
  .teacher-name
  > span:nth-of-type(1) {
  font-weight: bold;
}

main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-teacher-price
  .price {
  text-align: left;
}

main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-teacher-price
  .price
  > span
  > span {
  font-weight: bolder;
  font-size: 1.5em;
}

main .draggable .draggable-items-container .draggable-item .draggable-item-btn {
  background-color: var(--btn-color);
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

main
  .draggable
  .draggable-items-container
  .draggable-item
  .draggable-item-btn
  > a
  span {
  color: rgb(105, 102, 102) !important;
}
main .draggable .more-corse {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px 10px;
  gap: 15px;
  position: absolute;
  bottom: -70px;
  right: 50%;
  transform: translate(50%);
}
main .draggable .more-corse i {
  color: var(--red-color);
  font-size: 1.2em;
}
main .draggable .more-corse span {
  color: var(--red-color);
  font-size: 1.2em;
}

main .draggable .draggable-back-pattern {
  width: 100%;
  height: 50%;
  background-color: #000000;
  position: absolute;
  top: 60%;
  background-image: url(../images/pattern.png);
  filter: saturate(0);
  border-radius: 0;
}

main .main-texts {
  margin: 0 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-texts .top {
  text-align: center;
 margin: 50px 0;
}
main .main-texts .top > i {
  font-size: 2.2em;
  color: var(--primary-color);
}
main .main-texts .top > p {
  text-align: center;
  color: #888787;
  margin: 20px 0;
}
main .main-texts .bottom {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
main .main-texts .bottom .right {
  flex: 1;
  position: relative;
  text-align: center;
}

main .main-texts .bottom .right .big-image {
  border-radius: 20px;
  width: 50%;
}
main .main-texts .bottom .right .turist-pic {
  position: absolute;
  width: 30%;
  border: 5px solid white;
}
main .main-texts .bottom .right :nth-of-type(2) {
  border-radius: 90px;
  top: 15px;
  right: 33px;
  height: 50%;
}
main .main-texts .bottom .right :nth-of-type(3) {
  border-radius: 40px;
  left: 22px;
  bottom: 30px;
}
main .main-texts .bottom .left {
  flex: 1;
  padding-right: 50px;
}
main .main-texts .bottom .left > h1 {
  font-size: 1.5em;
}
main .main-texts .bottom .left > h1 span {
  color: var(--red-color);
}
main .main-texts .bottom .left .discription {
  margin: 20px 0;
}
main .main-texts .bottom .left .discription *{
  font-size: 1em !important;
}
main .main-texts .bottom .left .discription > p {
  color: #888787;
}
main .main-texts .bottom .left .discription > ul {
  margin-right: 20px;
}
main .main-texts .bottom .left .discription > ul li {
  color: #888787;
  margin-top: 5px;
}

main .main-texts .bottom .left > .btn-prime {
  width: max-content;
}
main .main-texts .bottom {
  width: 100%;
  margin-bottom: 50px;
}
main .main-texts .bottom .insta {
  position: relative;
  width: inherit;
  display: flex;
  padding: 30px;
  gap: 20px;
  border-radius: 15px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  background: linear-gradient(to left, #ffce00, #ffcc0093);
}
main .main-texts .bottom .insta > img {
  right: -7%;
  position: absolute;
  width: 40%;
}
main .main-texts .bottom .insta .text-link {
  text-align: center;
}
main .main-texts .bottom .insta .text-link > p {
  font-weight: bold;
  margin-bottom: 10px;
}
main .main-texts .bottom .insta .text-link > span {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .main-texts .bottom .insta > span a {
  border: 2px solid black;
  padding: 5px 10px;
  cursor: pointer;
}

/* draggable one secion */
main .draggable-one {
  margin-top: 80px;
  position: relative;
}
main .draggable-one .draggable-title {
  text-align: right;
  padding-top: 50px;
  padding-right: 10px;
}
main .draggable-one .draggable-title > span {
  padding: 8px 15px;
  background-color: var(--back-color);
  border-radius: 25px;
}
main .draggable-one .draggable-title h3 {
  margin-top: 20px;
  font-size: 1.5em;
  color: white;
}
main .draggable-one .more-corse {
  background-color: #ffffff88;
  width: max-content;
  padding: 5px 10px;
  border-radius: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}
main .draggable-one .more-corse span {
  color: white;
}

main .draggable-one .draggable-title h3 > span {
  color: var(--red-color);
}
main .draggable-one .draggable-items-container {
  margin-top: 40px;
  position: relative;
}

main .draggable-one .draggable-items-container .owl-stage-outer .owl-stage {
  padding: 10px 0;
}
main .draggable-one .draggable-items-container .draggable-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 13px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.192);
  border-radius: 8px;
  background-color: white;
  margin: 0 10px;
}
main .draggable-one .draggable-items-container .draggable-item > i {
  padding: 18px;
  background-color: var(--back-color);
  font-size: 1.5em;
  color: var(--primary-color);
}

main .draggable-one .draggable-items-container .draggable-item > h3 {
  color: var(--bold-font-color) !important;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}
main .draggable-one .draggable-items-container .draggable-item > p {
  color: #888787 !important;
  font-size: 0.9em;
  margin-top: 10px;
}
main .draggable-one .draggable-items-container .draggable-item > ul li {
  color: #888787 !important;
  font-size: 0.9em;
  margin-top: 10px;
}
main .draggable-one .draggable-items-container .draggable-item > ul {
  margin-right: 20px;
}
main .draggable-one .draggable-items-container .draggable-item .arrow {
  margin-top: 20px;
  width: 100%;
  text-align: left;
}

/* for last draggable */
main .draggable .draggable-items-container .draggable-item .arrow {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
main .draggable .draggable-items-container .draggable-item .arrow > i {
  color: var(--primary-color);
}
main .draggable .draggable-items-container .draggable-item .arrow > span {
  color: var(--primary-color);
}
main .draggable .draggable-items-container .draggable-item > h4 {
  margin: 10px 0;
}

main .draggable .draggable-title .title > span {
  background-color: var(--back-color);
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--red-color);
}

main .draggable-one .draggable-items-container .draggable-item .arrow > i {
  background-color: var(--btn-color);
  padding: 5px;
  border-radius: 25px;
}

main .draggable-one .draggable-back-pattern {
  width: 100%;
  height: 70%;
  background-color: #000000;
  position: absolute;
  top: 0;
  background-image: url(../images/pattern.png);
  filter: saturate(0);
  border-radius: 0;
  z-index: -1;
}

footer {
  margin-top: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  padding: 20px;
  position: relative;
}
footer * {
  color: rgb(201, 196, 196);
}

footer .footer-background {
  position: absolute;
  background-image: url(../images/footer-pattern.png);
  filter: saturate(0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
footer .footer-sec {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
footer .footer-sec > .title {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .footer-sec > .title > span {
  display: inline-block;
  width: 12px;
  height: 30px;
  background-color: var(--red-color);
}
footer .footer-sec > .title > h4 {
  display: inline-block;
}
footer .footer-sec > ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

footer .footer-sec .social > a {
  display: inline-block;
  margin-left: 10px;
}
footer .footer-sec .social > a > i {
  font-size: 2.5em;
}

@media screen and (max-width: 1024px) {
  .head-container {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .nav-container {
    padding: 8px 20px !important;
  }
  .nav-container .head-nav {
    display: none !important;
  }
  header .nav-container .contact {
    padding-left: 0;
    margin: 5px 0;
    margin-right: auto;
  }
  header .nav-container .logo-container {
    display: block;
    position: absolute;
    right: 50%;
    transform: translate(50%);
  }
  main .main-poster .main-poster-left .image-captions span {
    font-size: 1.5vw;
  }
  main .main-poster .main-poster-left .image-captions i {
    font-size: 2vw;
  }
  main .main-poster .main-poster-left .image-captions strong {
    font-size: 2vw;
  }
}
@media screen and (max-width: 840px) {
  main .main-texts .bottom {
    margin-top: 0;
    margin-bottom: 0;
  }
  main .main-texts .bottom .insta {
    justify-content: space-between;
  }
  main .main-texts .bottom .insta > img {
    display: none;
  }
  main .main-texts {
    margin-left: 0;
    margin-right: 0;
  }
  main .main-texts .top {
    padding-left: 20px;
    padding-right: 20px;
  }
  main .main-texts .bottom .left {
    padding-left: 20px;
    padding-right: 20px;
  }
  main .main-texts .bottom .insta {
    flex-direction: column;
    border-radius: 0;
    gap: 0;
  }
  main .main-texts .bottom .insta > span a {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main .main-texts .bottom {
    flex-direction: column;
    margin-top: 10px;
  }
  main .main-texts .bottom .right {
    margin-bottom: 30px;
  }
  footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  footer .footer-sec {
    width: 100%;
  }
  footer .footer-sec:nth-of-type(1) {
    text-align: center;
  }
  footer .footer-sec:nth-of-type(2) {
    order: 1;
  }
  footer .footer-sec > .logo-container {
    display: none;
  }
}


@media screen and (max-width: 625px) {
  main .main-poster {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
  }
  .main-poster-right,
  .main-poster-left {
    text-align: center;
  }
  main .main-poster {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  main .main-poster .main-poster-right .buttons {
    width: 100%;
    gap: 10px;
  }
  main .main-poster .main-poster-right .buttons > .btn {
    font-weight: bold;
    flex: 1;
  }
  main .main-poster .main-poster-right .buttons > .btn-prime {
    flex: 2;
  }

  .main-poster {
    width: 80%;
    margin: auto;
  }
  main .main-poster .main-poster-left .image-captions span {
    font-size: 0.9em;
  }
  main .main-poster .main-poster-left .image-captions i {
    font-size: 1em;
  }
  main .main-poster .main-poster-left .image-captions strong {
    font-size: 1em;
  }

  main .main-steps .steps-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 45px;
  }

  main .main-steps .steps-container .step-item {
    display: flex;
    flex-direction: row;
    position: static;
    align-items: stretch;
    height: auto;
    width: auto;
  }
  main .main-steps .steps-container .step-item .step-number {
    text-align: center;
    line-height: normal;
    position: static;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
  }
  main .main-steps .steps-container .step-item .step-text {
    font-size: 0.9em;
    padding: 0;
    flex: 1;
    padding: 20px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: flex-start;
    text-align: right;
    font-size: 1em;
  }

  header .nav-container .contact {
    display: none;
  }

  header .nav-container .logo-container {
    margin-right: auto;
    position: static;
    right: auto;
    transform: none;
  }
}
